@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Wix+Madefor+Display:wght@400..800&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: rgba(32, 31, 31, 0.5);
    --base-font-size: 1.1rem;
    --header-height: 11vh;
    --animation-duration: 0.7s;
    --animation-timing: linear;
    --thumbnail-width: 115px;
    --thumbnail-height: 150px;
    --content-font: 'Wix Madefor Display', sans-serif;
    --title-font: 'Major Mono Display', monospace;
    --background-color: #000;
}

body {
    font-family: var(--content-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--base-font-size);
    background: var(--background-color);
    position: relative;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/background.jpg) no-repeat center center/cover;
    z-index: -1;
}

.warhammer-page .background {
    background: url(../images/twwh3.jpg) no-repeat center center/cover;
}

.division-page .background {
    background: url(../images/division.jpg) no-repeat center center/cover;
}

.gta6-page .background {
    background: url(../images/gta6.jpg) no-repeat center center/cover;
}

/* Header Styles */
.header {
    position: sticky;
    top: 0;
    height: var(--header-height);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo h1 {
    margin: 0;
    font-size: calc(0.5rem + 1.5vw);
    font-family: var(--title-font);
}

.logo h1 a {
    color: var(--primary-color);
    text-decoration: none;
}

/* Navigation Styles */
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: inherit;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Button Styles */
button {
    cursor: pointer;
}

.read-more {
    background-color: transparent;
    color: white;
    border: calc(var(--base-font-size) * 0.1) solid white;
    padding: 0.5rem 1rem;
    font-size: var(--base-font-size);
    margin-top: 2rem;
}

/* Game Detail Styles */
.game-detail {
    color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    max-width: 80%;
    margin: 2rem auto;
}

.game-detail h2 {
    font-size: 2em;
    margin-bottom: 1rem;
}

.game-detail p {
    font-size: 1.2em;
}

/* Table Styles */
.game-detail table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.game-detail th,
.game-detail td {
    border: 1px solid #ddd;
    padding: 8px;
}

.game-detail th {
    background-color: #333;
    color: white;
    text-align: left;
}

.game-detail tr:nth-child(even) {
    background-color: #444;
}

.table-container {
    overflow-x: auto;
    margin: 20px 0;
}

main {
    margin-top: 80px;
}

/* Carousel Styles */
.hidden,
.initializing {
    display: none;
}

.carousel {
    width: 95%;
    height: 95vh;
    margin: 5% auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 10);
    border-radius: 20px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 0s linear 1s;
    /* Increased duration for visibility */
}

.carousel.loaded {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease;
    /* Reset transition for opacity */
}

.carousel.loaded {
    opacity: 1;
    visibility: visible;
    transition: opacity 3s ease;
}


.carousel .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list .item .content {
    position: absolute;
    top: 10%;
    width: 1140px;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .title,
.carousel .list .item .topic {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.3em;
}

.carousel .list .item .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.carousel .list .item .buttons button {
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid white;
    color: #eee;
}

/* Thumbnail Styles */
.thumbnail-container {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 5;
    display: flex;
    transform: translateX(-50%);
    align-items: center;
}

.thumbnail {
    display: flex;
    gap: 10px;
}

.thumbnail .item {
    width: var(--thumbnail-width);
    height: var(--thumbnail-height);
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.thumbnail .item .content {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title {
    font-weight: 500;
}

/* Arrow Button Styles */
.arrows {
    position: absolute;
    z-index: 100;
    bottom: 35%;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateX(-50%);
    pointer-events: none;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: white;
    font-family: monospace;
    font-weight: bold;
    transition: 0.5s;
    pointer-events: all;
    margin-left: -20px;
    margin-right: -20px;
}

.arrows button:hover {
    background-color: white;
    color: #000;
}

.carousel .list .item:nth-child(1) {
    z-index: 1;
}

.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.carousel .list .item:nth-child(1) .content .title {
    animation-delay: 1.2s !important;
}

.carousel .list .item:nth-child(1) .content .topic {
    animation-delay: 1.4s !important;
}

.carousel .list .item:nth-child(1) .content .des {
    animation-delay: 1.6s !important;
}

.carousel .list .item:nth-child(1) .content .buttons {
    animation-delay: 1.8s !important;
}

.carousel.next .list .item:nth-child(1) img {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(-100%);
    border-radius: 80px;
    animation: showImage var(--animation-duration) var(--animation-timing) 1 forwards;
    filter: blur(20px);
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        transform: translateX(0);
        filter: blur(0);
    }
}

.carousel.next .thumbnail-container .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail var(--animation-duration) var(--animation-timing) 1 forwards;
}

.carousel.prev .list .item img {
    z-index: 1;
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: var(--thumbnail-width);
        opacity: 1;
    }
}

.carousel .time {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 3px;
    background-color: #87bdd8;
    left: 0;
    top: 0;
    animation: runningTime 6s var(--animation-timing) infinite;
}

@keyframes runningTime {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

.carousel.prev .list .item:nth-child(2) {
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(20px);
    animation: outFrame var(--animation-duration) var(--animation-timing) 1 forwards;
}

@keyframes outFrame {
    to {
        width: 0;
        height: 0;
        bottom: 0;
        left: 0;
        border-radius: 20px;
        transform: translateY(-50px);
        filter: blur(0);
    }
}

.carousel.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail var(--animation-duration) var(--animation-timing) 1 forwards;
}

.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons {
    animation: contentOut 1.5s var(--animation-timing) 1 forwards !important;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal form label {
    margin-top: 10px;
}

.modal form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal form button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.modal form button:hover {
    background-color: #45a049;
}

iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    max-height: 315px;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 1920px) {
    iframe {
        max-width: 800px;
        max-height: 450px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
    iframe {
        max-width: 640px;
        max-height: 360px;
    }
}

@media screen and (max-width: 394px) {
    iframe {
        max-width: 320px;
        max-height: 180px;
    }
}

@media screen and (max-width: 385px) and (max-height: 825px) {
    iframe {
        max-width: 360px;
        max-height: 202px;
    }
}

@media screen and (max-width: 860px) and (orientation: landscape) {
    .carousel .list .item .content {
        padding: 1rem;
        text-align: left;
    }
}